* {
  box-sizing: border-box;
  font-family: 'Lato', 'Helvetica Neue', 'sans-serif';
  letter-spacing: 3px;
  font-weight: 900;
  color: #ebebeb;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

ul {
  list-style-type: none;
  padding: 0;
}

body {
  margin: 0px;
}

.box {
  border-radius: 5px;
  overflow: hidden;
  margin: 0px 0px 8px 0px;
}

.box-header {
  color: #efeff1;
  margin: 0px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-content {
  padding: 0px 10px 0px 10px;
}

.actions i {
  cursor: pointer;
}
