body {
  background-image: url('/image/frontendAPI.jpg');
  background-size: contain;
  -webkit-background-size: cover;
  background-position: center;
  background: cover;
  background-color: #cccccc;
}
