#header {
  color: #efeff1;
  /* background-color: #0f0a14; */
  border-radius: 25px;
  font-size: 0.5em;
  margin-left: 7px;
  letter-spacing: 3px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
}
