@import url(//fonts.googleapis.com/css?family=Vibur);
html,
body {
  height: 100%;
}

.logoOffLine b {
  font: 400 5vh 'Vibur';
  color: rgb(158, 149, 149);
  /* text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #f7d4d4, 0 0 0.5em #ffe2e2,
    0 0 0.1em #ffe6e6, 0 10px 3px #000; */
}
