@import url(//fonts.googleapis.com/css?family=Vibur);
html,
body {
  height: 45px;
}

.logoOffLine b {
  width: 100%;
  height: 100%;
  font: 400 7vh 'Vibur';
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #4466ff, 0 0 0.5em #4466ff,
    0 0 0.1em #4466ff, 0 10px 3px #000;
}

.logoOffLine b span {
  font: 400 7vh 'Vibur';
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #4466ff, 0 0 0.5em #4466ff,
    0 0 0.1em #4466ff, 0 10px 3px #000;
}
.logoOffLine b span:nth-of-type(2) {
  font: 400 7vh 'Vibur';
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #4466ff, 0 0 0.5em #4466ff,
    0 0 0.1em #4466ff, 0 10px 3px #000;
}
