#stream_status {
  margin-right: 5px;
  flex: 1 auto;
  max-width: 200px;
  max-height: 50px;
}

.btn-deep-purple {
  margin-top: 10px;
  color: #efeff1;
  border: solid;
  border-width: 2px;
}

button:hover {
  animation: animate 8s linear infinite;
  color: rgba(145, 92, 182, 0.4);
  box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
}

.btn-sm {
  height: 15%;
  width: 25%;
}

.status-action {
  display: flex;
  justify-content: space-evenly;
}

.current-status {
  display: flex;
  justify-content: center;
}

.box-content {
  margin-bottom: 15px;
}
